body {
    background-color: #f4f4f4;
    box-sizing: border-box;
}


/* Styling top logo and menu bar*/


.custom-logo{
    max-width: 200px!important;
    height: auto!important;
    /* height: 100px!important; */
}
.header-logo-navi-bar{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    max-height: 100px;
    align-items: center;
    justify-content: center;
}


#to_bar_logo_box{
    width: 30%;
}

#top_bar_navi_box{
    width: 70%;
    display: flex;
    justify-content: end;
}


#top-navi{
    
    background-color: var(--primary-color);

     padding:10px; 
}

#top-navi .menu{
    list-style:none;
    margin:0;
    padding:0;
    display: flex;
    
}

#top-navi .menu li{
    position: relative;
}

#top-navi .menu li a {
    color: white;
    text-decoration: none;
    padding: 20px 20px; 
    display: block;
}

#top-navi .menu li:hover > a{
   background-color: rgb(49, 49, 183);
   transition: background-color 0.3s ease;
   -webkit-transition: background-color 0.3s ease;
   -moz-transition: background-color 0.3s ease;
   -ms-transition: background-color 0.3s ease;
   -o-transition: background-color 0.3s ease;
}



#top-navi .sub-menu{
    display: none;
    list-style: none;
    position: absolute;
    top:100%;
    left:0;
    background-color: #444;
    padding:0;
    margin:0;
    min-width: 180px;
}

#top-navi .menu-item-has-children:hover .sub-menu{
    display:block;
    transition: display 0.2s ease;
    -webkit-transition: display 0.2s ease;
    -moz-transition: display 0.2s ease;
    -ms-transition: display 0.2s ease;
    -o-transition: display 0.2s ease;
}

#top-navi .sub-menu li a{
    padding:10px;
    color: white;

}

#top-navi .sub-menu li:hover >a{
    background-color: #555;
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
}
/*--------------------*/